@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

a {
	text-decoration: none !important;
}

ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	font-family: roboto;
	box-sizing: border-box;
}

html {
    background-color: #00c3ff36;
}

body {
    padding: 50px 10px;
    max-width: 80vw;
    margin: 50px auto;
    background-color: white;
    border-radius: 12px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

form {
    display: inline-block;
    margin-bottom: 40px;
    padding: 40px 100px;
    border-radius: 12px;
    background-color: #ff780026;
}

form input[type=file]{
    margin-bottom: 25px;

}

form label {

}
form input[type=range]{

}

form .slider-output{
    margin-bottom: 20px;
}

form input[type=submit] {
    background-color: white;
    color: #ff7800;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

form input[type=submit]:hover {
    cursor: pointer;
}

.uploaded-image {
    display: block;
    max-width: 600px;
    margin: 20px auto 60px auto;
}

.colour-palette-grid {
    max-width: 800px;
    margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 15px;
	row-gap: 15px;
}

.colour-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.colour-patch {
    height: 80px;
}

.colour-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    padding: 15px 0;
    background-color: white;
    border: 1px solid #80808026;
    border-radius: 0 0 6px 6px;
}

.copy-hex-code {
    transition: .1s ease-in-out;
}

.copy-hex-code:hover {
    cursor: pointer;
    color: teal;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    body {
        max-width: 90vw;
        margin: 40px auto;
    }

    .uploaded-image {
        width: 100%;
    }

    .colour-palette-grid {
	    grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 650px) {
	form {
	    width: 90%;
        padding: 40px 0;
    }



    .colour-palette-grid {
	    grid-template-columns: 1fr 1fr;
	}

}


